input, textarea {
    resize: none;
    border: none;
    border-bottom: 1px solid #808080;
    width: 98%;
    margin-bottom: 2px;
}

textarea {
    height: 20vh;
}

input:focus, textarea:focus {
    opacity: 0.8;
    border: none;
    outline: none;
    border-bottom: 1px solid #808080;
    background-color: #D3D3D3;
}

.section-title {
    text-align: center;
    letter-spacing: 0.3em;
}

.container-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 95vw;
}

.book-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.book-item {
    flex: 0 0 24%;
    border: 0.5px solid #dfdfdf;
    border-radius: 5px;
    width: 100%;
    margin: 10px 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.book-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    border-bottom: 1px solid #808080;
}

.field-header {
     display: flex;
     position: relative;
     align-items: center;
}

.field-header label {
    font-size: 70%;
    width: auto;
}

.field-header label,
.field-header .toggle {
    display: inline-block;
    position: sticky;
    top: 0;
    background: inherit;
    z-index: 2;
}

.field-body{
    display: flex;
    position: relative;
    align-items: center;
    overflow: auto;
    width: 100%;
}

.field-body .description {
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
}

.book-actions {
    display: flex;
    justify-content: center;
}

.hidden{
    display: none;
}

.material-symbols-outlined {
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    transform: scale(2);
}
